body{ margin:0px; padding:0px; font-family: 'Roboto', sans-serif; font-size:18px; color:#424242; background:#f3f3f3; font-weight:300;}
div, ul, li{ margin:0px; padding:0px; list-style:none;}
h1, h2, h3, h4, h5, h6{ margin:0px; padding:0px;}
a{ text-decoration:none; font-size:18px;color:#000000;}
a:hover{text-decoration:none;}
img{ vertical-align:middle;}
p{ margin:0px; padding:0px; line-height:18pt; font-size:15px;}

/* Spacing Start */
.m-l-10{margin-left:10px !important;}
.m-l-20{margin-left:20px !important;}
.m-l-38{margin-left:38px !important;}
.p-t-b-40{ padding-top:40px; padding-bottom:40px;}

.middle{ width:auto;}
.middle div[class|=col]{ float:none; display:inline-block; vertical-align:middle; margin:0px -2px;}
.flex{ display:flex; align-items:center;}
.flex1{ display:flex; align-items:stretch;}
.no-space{ width:auto; margin:0px; padding:0px;}
.no-space div[class|=col]{ margin:0px; padding:0px;}

.title{font-size:32px; text-align:center; padding:20px 0px; font-weight:400;}
.text{padding:25px 0px;}
.text p{font-size:18px; line-height:1.5em; font-weight:300;}
.text p a{font-size:18px; color:#ff4f60;}
.module{ width:auto; padding:30px 0px;}
.module2{width:auto; padding:10px 0px;}
/* Spacing Close */

/* overlay start*/
.overlay{ width:100%; height:100%; position:fixed; z-index:20; background:#000; opacity:0.7; display:none;}
.profile-edit-pop{ width:500px; background:#fff; position:absolute; left:0px; right:0px; margin:0 auto; top:100px; z-index:30; padding:20px 30px 30px; display:none;}
.profile-edit-pop .view-title{ width:auto; color:#ff4f60; font-size:25px; border-bottom:1px #eee solid; padding:0 0 10px 0px; margin:0 0 20px 0px; }
.profile-edit-pop .view-title .cut{ float:right; background:#dddddd; color:#fff; border-radius:50%; width:28px; padding:5px 0px 4px; text-align:center; font-size:14px; cursor:pointer; -webkit-transition:all 0.5s; -moz-transition:all 0.5s;}
.profile-edit-pop .view-title .cut:hover{ background:#ff4f60;}

.profile-edit-pop .fieldrow{ width:auto;}
.profile-edit-pop .fieldrow ul{ width:auto;}
.profile-edit-pop .fieldrow ul li{ width:auto; margin:10px 0px;}
.profile-edit-pop .fieldrow label{ width:30%; display:inline-block; font-weight:normal; vertical-align:middle; text-align:left; padding:0px 10px; font-size:15px; color:#757575;}
.profile-edit-pop .fieldrow .textbox{ width:70%; display:inline-block;vertical-align:middle;}
.profile-edit-pop .fieldrow .text{ width:100%; border:1px #e0e0e0 solid; padding:6px; box-sizing:border-box;}
.profile-edit-pop .fieldrow .btn{ display:inline-block; margin:0 10px 0 0px;}
.profile-edit-pop .fieldrow .btn.red{ background:#ff4f60; color:#fff;}
/* overlay close*/




/* banner start */
.wrapper{width:auto; height:630px;}

.banner11{width:100%; height:630px; position:absolute; left:0px; top:0px;}
.banner11 .slide1{width:100%; background:url(../images/banner.jpg) center top no-repeat; height:630px; position:absolute; left:0px; top:0px;}

.banner{width:auto; height:0px;}
.banner .sliderbox{width:100%; position:absolute;left:0px; top:0px; height:630px;}
.banner .bx-wrapper{height:100%!important;}
.bx-viewport{height:100%!important;}
.banner .homeslider{width:auto; height:100%;}
.banner .homeslider div.slide{background-size:cover; height:100%; width:100%; display:flex; align-items:center;}
.banner .homeslider div.slide h3{ color:#fff; text-align:center; width:100%; font-size:40px; margin:45px 0 0 0px; }

.inner-banner{width:100%; background:url(../images/inner-banner.jpg) center top no-repeat; height:348px; position:absolute; left:0px; top:0px;}
.header{width:auto; margin:20px 0 0 0px; position:relative; z-index:1;/* background:rgba(255, 79, 96, 0.6);*/}
.header .logo{text-align:center;  padding:5px 0px; width:90%;/* background:rgba(255, 255, 255, 0.6);*/}
.header .logo img{margin:0 auto;}
.header .links{ width:auto; text-align:right;}
.header .links.menu{ text-align:left;}
.header .links ul{ width:auto; padding:0 0px 0 0px;}
.header .links ul li{ display:inline-block; margin:0 20px 0 0px; position:relative; vertical-align:middle;}
.header .links ul li a{color:#fff; display:block; text-align:center; text-transform:uppercase; font-size:16px;}
.header .links ul li a.drop{background:url(../images/link-arrow.png) right center no-repeat; padding:5px 23px 5px 0px;}
.header .links ul li a img{ margin:-3px 3px 0 0px; display:inline-block; vertical-align:middle; }
.header .links ul li ul{ position:absolute; left:0px; top:30px; width:140px; z-index:10; display:none; padding:6px 0 0 0px;}
.header .links ul li ul li{ display:block; margin:0px; border-bottom:1px rgba(0,0,0,0.1) solid;}
.header .links ul li ul li a{ text-align:left; background:rgba(255,255,255,0.9); padding:5px 8px; text-transform:capitalize; color:#000; }
.header .links ul li ul li a:hover{ background:#fa4153; color:#fff;}
.header .links ul li:hover ul{ display:block;}
.header .links ul li .bell{ width:auto; color:#fff; height:50px; padding:15px 0 0 0px; }
.header .links ul li .bell span{ color:#fff; display:inline-block; vertical-align:middle;}
.header .links ul li .bell strong{ background:#fff; border-radius:50%; color:#fa4153; font-weight:normal; width:20px; text-align:center; display:inline-block; font-size:15px; vertical-align:middle;}
.header .links ul li .user-img{ width:40px; height:40px; border-radius:50%; background:#fff; padding:2px;} 
.header .links ul li .user-img img{ border-radius:50%; width:100%; height:100%;}

.search-row{width:auto; position:relative; z-index:2; margin:315px 0 0 0px; text-align:center; position:relative; opacity:1;}
.search-row.inner{width:auto; position:relative; z-index:2; margin:20px 0 0 0px; text-align:center;  position:relative; opacity:1;}
.search-tab{ width:auto; background:#fff; font-size:0px; cursor:pointer;}
.search-tab .search{ width:85%; display:inline-block; font-size:20px; text-align:left; padding:17px; vertical-align:top; opacity:0.6; color:#353e4f;}
.srcbtn{ width:15%;display:inline-block; background:#ff4f60; color:#fff; font-size:20px; padding:18px; cursor:pointer; border:0px; vertical-align:top;}
.srcbtn.full{width:100%; display:block; text-align:center; margin:0px; padding:14px; border-radius:6px;}

.search-row .drop{ width:100%; background:#fff; overflow:hidden; background:rgba(0,0,0,0.7); padding:15px; border-radius:6px;}
.search-row .drop .drop-row{ width:auto; text-align:left; padding:6px 0px;}
.search-row .drop .drop-row:last-child{ border:0px;}
.search-row .drop .drop-box{ display:inline-block; width:32%; position:relative; vertical-align:top; margin:0px 1% 0px 0px;}
.search-row .drop .drop-box span{ float:right; margin:4px 0 0 0px;}
.search-row .drop .drop-box:nth-child(3n){ border:0px; margin:0px;}
.search-row .drop .drop-box.age .box{ display:inline-block; width:30%; margin:0px 3% 0px 0px;}
.search-row .drop .drop-box.age .box:last-child{ margin:0px;}
.search-row .drop .drop-box .box{ width:100%; display:block; padding:15px 15px; cursor:pointer; position:relative; background:#fff; border-radius:6px;}
.search-row .drop .drop-box .box .short{ display:inline-block; border:0px; outline:none; background:none;}
.search-row .drop .drop-box .box .short::placeholder{}
.search-row .drop .drop-box ul{ width:100%; position:absolute; left:0px; top:58px; background:#fff; z-index:10; display:none; }
.search-row .drop .drop-box ul.active{height:250px; overflow-y:scroll;}
.search-row .drop .drop-box ul li{ width:auto; padding:15px; }
.search-row .drop .drop-box ul li:last-child{ border:0px;}

.search ul{ width:auto; padding:30px 20px; background:rgba(0,0,0,0.6); border-radius:6px; display:block;}
.search ul li{display:inline-block; margin:0 5px;}
.search ul li label{ display:block; color:#fff; font-weight:normal; text-align:left;}
.search ul li .text{ width:100%; background:#fff; border-radius:4px; padding:10px 15px; border:0px; width:140px; font-size:20px;}
.search ul li .submit{ width:100%; background:#fff; border-radius:4px; padding:10px 15px; font-size:20px; border:0px; width:120px; background:#ff4f60; color:#fff; text-align:center; border:0px; cursor:pointer;}

.search-row.active .search-tab{ display:none;}
.search-row.active .drop{ height:135px;}

/* banner close */




/* member start */
.member-wrapper{width:auto; overflow:hidden; height:345px;}
.member-banner{width:100%; background:url(../images/member-banner.jpg) center top no-repeat; height:345px; position:absolute; left:0px; top:0px;}
.upgrade{width:auto; position:relative; z-index:2; margin:49px 0 0 0px; text-align:center;}
.upgradebox{background-color:#7c6790; width:auto; display:block; padding:25px 0px; text-align:center;}
.upgradebox a{font-size:24px; color:#fff; font-weight:400; text-decoration:none;}

.upgrade .member-link{width:auto; padding:0px 0px 0px 6px;}
.upgrade .member-link ul{width:100%; padding:0 0px 0 0px;}
.upgrade .member-link ul li{display:block; margin:0 40px 0 0px;}
.upgrade .member-link ul li a{color:#fff; display:block; text-align:left; text-transform:uppercase; font-size:19px;}

.tab-menu{ width:auto; margin:30px 0 0 0px;}
.tab-menu ul{width:auto; border-bottom:solid 2px #999999;}
.tab-menu ul li{display:inline-block; margin-bottom:-6px;}
.tab-menu ul a{font-size:27px; display:inline-block; color:#f93a4c; padding:10px 25px; font-weight:600; border-bottom:solid 5px #dddddd; float:right;}
.tab-menu ul li a{font-size:27px; display:block; color:rgba(0,0,0,0.7); padding:10px 25px; font-weight:600; border-bottom:solid 5px #dddddd;}
.tab-menu ul li a strong{font-size:17px; display:inline-block; color:rgba(0,0,0,0.7);}
.tab-menu ul li a:hover{border-bottom:solid 5px #636363; text-decoration:none;}

.tab-detail{width:auto; padding:30px 0px;}
.tabBox{background-color:#000000; display:flex; align-items:center; min-height:350px;}
.tabContent{display:block; text-align:center; width:100%;}
.tabContent h2{font-size:36px; color:#fff; display:block;text-align:center;}
.tabContent p{font-size:24px; color:#fff; line-height:1.5em; text-align:center;}

.info-Box{background-color:#fff; width:100%;}
.info-Box .basicStep{width:auto; padding:15px 20px; border-bottom:solid 1px #999;}
.basicStep .title{display:block; font-size:26px; color:#000; padding: 10px 0px; text-align: left;}
.basicStep ul{width:auto; font-size:0px; padding:0px 10px;}
.basicStep ul li{display:block; font-size:16px; color:#494949; font-weight:200; margin:0px 0px 10px 0px;}
.basicStep ul li span.strike{display:inline-block; font-size:16px; color:#6e6e6e; font-weight:200; text-decoration:line-through;}
.basicStep ul li span.strike strong{display:inline-block; color:#ff4f60; font-weight:600; text-decoration:line-through;}
.info-price{display:block; padding:20px 0px; text-align:center; color:#525252; font-size:17px; font-weight:600;}
.info-login{display:block; padding:15px 0px; text-align:center; background-color:#ff4f60; font-size:17px;}
.info-login a{font-size:19px; color:#fff; font-weight:300;}

.popup-box.tablePopup{width:700px;}
.table>thead>tr>th{padding: 15px 10px;}
.table{font-size:18px; font-weight:200;}
.head{background-color:#1C2A48!important; border:solid 1px #1C2A48;}
tbody{border:solid 1px #a6a6a6;}
.text-white{color: #fff!important;}
tbody>tr>th{border-bottom:solid 1px #a6a6a6; font-size:18px; font-weight:200; padding:20px 8px !important;}
tbody>tr>td{border-left:solid 1px #a6a6a6 !important; border-bottom:none !important; border-top:none !important; text-align:center; padding:20px 8px !important;}
tbody>tr>td.red{color:#f73333;}

tfoot>tr{border-bottom:solid 1px #a6a6a6 !important;}
tfoot>tr>th{text-align:right; font-weight:200; padding:20px 8px !important; border-left:0px !important;}
tfoot>tr>td{text-align:center; padding:20px 8px !important;}
tfoot>tr>td:last-child{border-right:0px !important;}
/* member close */



/* search-list start */
.search-wrapper{ width:auto;  height:348px;}
.search-banner{width:100%; background:url(../images/inner-banner.jpg) center top no-repeat; height:348px; position:absolute; left:0px; top:0px;}
.inner-search{width:auto; position:relative; z-index:2; margin:70px 0 0 0px; text-align:center;}
/*.inner-search ul{width:auto; padding:0px; background:rgba(0,0,0,0.6); border-radius:6px; display:block;}
.inner-search ul li{display:inline-block; margin:0 5px;}*/
.inner-search .text{width:80%; background:#fff; border-radius:4px 0px 0px 4px; padding:10px 15px; border:0px; font-size:20px; display:inline-block;}
.inner-search .submit{width:20%; background:#fff; border-radius:0px 4px 4px 0px; padding:10px 15px; font-size:20px; background:#ff4f60; color:#fff; text-align:center; border:0px; cursor:pointer; display:inline-block;}

/* Filter Start */
.filter-head{background-color:#fff; padding:10px 15px; font-size:15px; color:#000; text-align:left; text-transform:uppercase; display:block;}
.filter-head i{margin:0px 5px 0px 0px;}
.filter-box{background-color:#ececec; padding:10px 15px; border-bottom:solid 1px #ddd;}
.filter-box ul{width:auto; display:block; margin:0px;}
.filter-box ul li{width:auto; display:block; font-size:14px; color:#616161; margin:0px 0px 5px;}
.filter-box ul li .checkbox{border:solid 1px #979797; background-color:#ddd; margin:0px 5px 0px 0px;}
.filter-box ul li label{margin:0px 5px 0px 0px; text-align:left; font-weight:200;}
.filter-box ul li span{float:right;}

.filter-box a{display:block; font-size:12px; color:#616161; margin:15px 0px 10px; text-align:right;}
.filter-box a:hover{color:#000;}
/* Filter Close */

.searchlist{width:auto; background:#fff; padding:20px; margin:20px 0px; }
.searchlist .title{font-size:25px; text-align:left; padding:0px 0px 20px 0px; font-weight:400;}
.searchlist .outerbox{width:auto; padding:0px 0px 0px 0px; margin:0px 0px 20px;}
.outerbox .box{width:auto; padding:0px 0px 0px 0px; margin:0px; background-color:#fff;}
.outerbox .box .user{width:256px; height:245px; text-align:center; display:inline-block;}
.outerbox .box .user img{width:100%; height:245px;}
.outerbox .box .user-detail{width:68%; display:inline-block; vertical-align:top; padding:15px 15px;}

.user-detail h4{color:#000; font-size:27px; font-weight:bold; margin:0 0 20px 0px;}
.user-detail ul{width:30%; display:inline-block; margin:0px 10px 0px 0px; vertical-align:top;}
.user-detail ul li{width:auto; display:block; margin:0px 0px 10px 0px; font-size:16px;}
.user-detail ul li.advantage{color:#ff4f60; text-align:right;}

.user-connect{width:auto; display:block; text-align:right;}
.user-connect ul{width:auto; display:inline-block; margin:6px 0px;}
.user-connect ul li{width:auto; display:inline-block; margin:0px 0px 0px 10px;}
.user-connect ul li a{display:block;}
.feature{border-top:solid 4px #ff4f60; text-align:right;}
.feature a{background-color:#ff4f60; text-align:center; display:inline-block; text-align:center; padding:5px 10px; font-size:14px; color:#fff; position:relative;}
.feature a:before{content:''; background-color:#ff4f60; -webkit-transform:skew(-25deg); transform:skew(-25deg); -webkit-transition:0.3s ease-in-out; transition:0.3s ease-in-out; position:absolute; width:20px; z-index:1; height:33px; top:-3px; left:-13px;}
/* search-list close */


.membership{width:auto; background:#dddddd;}
.membership .box{width:auto; position:relative; padding:10px 40px 0 140px; margin:40px 0px;}
.membership .box h4{color:#424242; font-size:22px; font-weight:bold; margin:0 0 5px 0px;}
.membership .box p{ font-size:18px; color:#424242; line-height:1.5em; font-weight:300;}
.membership .box .icon{ position:absolute; left:0px; top:12px; width:130px;text-align:center;}
.membership .btns{ width:auto; padding:50px 0px;}
.membership .btns p{ width:auto; text-align:center;}
.membership .btns p a{width:auto; text-align:center; background:#ff4f60; color:#fff; display:inline-block; font-size:25px; padding:15px 60px; border-radius:5px; font-weight:300;}
.membership .btns p a:hover{ background:#ff4f60;}
.membership .btns p span{ width:auto; text-align:center; font-size:25px; padding:20px 0px; display:block;}

.appbox{ width:auto;}
.appbox .area{width:auto; padding:0 0 0 45px; margin:20px 0px;}
.appbox .image{width:auto; margin:20px 0px;}
.appbox .title{text-align:left;}
.appbox ul{width:auto;}
.appbox ul li{margin:0px 20px 0 0px; display:inline-block;}
.appbox ul li img{}

.about{ width:auto; background:#dddddd; padding:50px 0px;}
.about p{font-size:18px; line-height:1.5em; font-weight:300;}
.about p strong{color:#000; font-size:25px; margin:0 8px 0 0px;}
.about .img{text-align:center;}


/* create profile start */
.create-wrapper{width:auto;  height:345px;}
.create-banner{width:100%; background:url(../images/member-banner.jpg) center top no-repeat; height:345px; position:absolute; left:0px; top:0px;}
.profile-banner{width:100%; background:url(../images/profile-back.jpg) center top no-repeat; height:345px; position:absolute; left:0px; top:0px; background-size:cover;}

.title-box{width:auto; position:relative; z-index:2; margin:49px 0 0 0px; text-align:center;}
.title-box h1{font-size:60px; color:#fff; text-transform:uppercase;}
.createprofile{ width:auto; margin:40px 0px;}
.profile{width:auto; z-index:2; margin:0px auto; text-align:center;}

.thumb-info{width:auto; margin:0px 0px 20px; text-align:left;}
.thumb-info .imgbox{ background:#fff; border:solid 4px #dbdbdb; display:inline-block; margin:0px 20px 0px 0px; text-align:center; vertical-align:top;}
.thumb-info .imgbox img{ max-width:200px; max-height:200px; min-height:200px; min-width:200px;}

.userbox{width:50%; margin:0px 0px 0px; display:inline-block;}
.userbox ul{width:auto; padding:0px 15px 20px; display:block;}
.userbox ul li{display:block; margin:0px 0px 20px 0px;}
.userbox ul li div{display:inline-block; margin:0px 0px 0px 0px;  font-size:16px; color:#000;}
.userbox ul li label{display:block; color:#000; font-weight:normal; text-align:left; margin:0px 0px 5px; font-size:15px; font-weight:600;}
.userbox ul li .text{width:100%; background:#fff; border-radius:4px; padding:10px 15px; border:1px solid #d2d2d2; font-size:15px; color:#9d9d9d;}


.profile .title{color:#ff4f60; font-size:25px; text-align:left; padding:0px 0px 20px;}
.profile ul{width:auto; padding:0px 0px 20px; display:block;}
.profile ul li{display:block; margin:0px 0px 20px 0px; position:relative; text-align:left;}
.profile ul li span.right{ float:right;}
.profile ul li label{display:block; color:#000; font-weight:normal; text-align:left; margin:0px 0px 5px; font-size:15px; font-weight:600;}
.profile ul li label span{color:#ff0000; margin-left:5px;}
.profile ul li .text{width:100%; background:#fff; border-radius:4px; padding:10px 15px; border:1px solid #d2d2d2; font-size:15px; color:#9d9d9d;}
.profile .submit{border-radius:4px; padding:10px 15px; font-size:20px; width:200px; background:#00bcd5; color:#fff; text-align:center; border:0px; cursor:pointer; margin:0px auto; text-align:center;}

.profile .title{color:#ff4f60; font-size:25px; text-align:left; padding:0px 0px 20px;}

.profile .createForm{width:auto; padding:0px 0px 20px; display:block; margin:0px 0px 0px;}
.createForm .field{width:auto; padding:0px 0px 20px; display:block;}
.field label{display:block; color:#000; font-weight:normal; text-align:left; margin:0px 0px 5px; font-size:15px; font-weight:600;}
.field label span{color:#ff0000; margin-left:5px;}
.field .text{width:100%; background:#fff; border-radius:4px; padding:10px 15px; border:1px solid #d2d2d2; font-size:15px; color:#9d9d9d;}

/* create profile Value Start */
.field .divText{width:auto; background:#fff; border-radius:4px; padding:10px 15px; border:1px solid #d2d2d2; font-size:15px; color:#9d9d9d; height:43px; cursor:text; position:relative;}
.field .divText .divValue{font-size:15px; color:#9d9d9d; position:absolute;}
.field .divText ul{width:100%; display:block; margin:0px; padding:0px; position:absolute; top:0px; left:0px; height:100%; background-color:#fff; font-size:0px; text-align:left;}
.field .divText ul li{width:16.66%; display:inline-block; border-right:solid 1px #9d9d9d; margin:0px; height:41px; padding:10px 0px; cursor:pointer; font-size:14px; text-align:center;}
.field .divText ul li:hover{background-color:#ff4f60; color:#fff;}
.field .divText ul li.active{background-color:#ff4f60; color:#fff;}
.field .divText ul li:last-child{border-right:0px;}
.field .divText ul li .check{ display:inline-block; vertical-align:top;}


.field .divText ul.marital li{width:25%;}


.field .divText ul.dob li{width:33.33%;}
.field .divText ul.dob li i.dobpop{bottom:-9px; left:76px; color:#ff4f60; position:absolute; font-size:26px;}
.field .divText ul.dob li:hover{background-color:transparent; color:#9d9d9d;}

.dobdropbox{border:1px solid #d9475c; background-color:#fff; border-radius:2px; left:-50px; top:42px; width:322px!important; position:absolute; z-index:100;}
.dobdropbox .dobpop{left:0px; right:0px; margin:0 auto; top:-18px; color:#d9475c; position:absolute; background:#fff; width:14px; text-align:left;}
.dobdropbox .dobpop i{font-size:26px; margin:0 0 0 -1px; }
.dobdropbox ul{position:static!important;}
.dobdropbox ul li{border:0px!important;border-bottom:1px solid #d9d9d9!important; font-size:14px; text-align:center; display:inline-block; margin:0px; padding:10px;}
.dobdropbox ul li:hover{ background:#ff4f60!important; color:#fff!important;}
.dobdropbox ul#datesub li{width:40px;}
.dobdropbox ul#monthsub li{width:80px; }
.dobdropbox ul#year{ height:200px; overflow:auto;}
.dobdropbox ul#year li{width:100px; }



	
/* create profile Value Close */





.profile .info{width:auto; padding:0px 0px 20px; display:block; font-style:italic; text-align:left;}
.profile .info p{font-size:14px; color:#000;}

.info ul{width:auto; padding:20px 15px 0px; display:block;}
.info ul li{display:block; margin:0px 0px 20px 0px;}
.info ul li div{display:inline-block; margin:0px 0px 0px 0px; width:auto; font-size:14px; color:#000;}


.about-profile, .about-profile2{width:auto; z-index:2; margin: 0px auto 20px; text-align: center;}
.about-profile .title{color:#fff; font-size:22px; text-align:center; padding:10px 0px; background-color:#5c4071; vertical-align:middle; width:100%;}
.about-profile .content-box, .about-profile2 .content-box{background-color:#d6d6d6; margin:0px auto; text-align:center; padding:5px;}
.about-profile .content-box .imgbox, .about-profile2 .content-box .imgbox{width:100%; height:187px;}
.about-profile .content-box .imgbox img, .about-profile2 .content-box .imgbox img{width:100%; height:100%;}
.about-profile .content-box p{padding:10px; font-size:19px; color:#000; text-align:center;}

.about-profile2 .title{color:#fff; font-size:22px; text-align:center; padding:10px 0px; background-color:#ff4f60; vertical-align:middle; width:100%;}
.about-profile2 .content-box p{padding:10px 5px; font-size:14px; color:#000; text-align:left; width:auto;}
.about-profile2 .content-box strong{float:right; display:inline-block;}

/* create profile close */

/* changes start */
.create-wrapper{width:auto; height:345px;}
.create-banner{width:100%; background:url(../images/member-banner.jpg) center top no-repeat; height:345px; position:absolute; left:0px; top:0px;}
.title-box{width:auto; position:relative; z-index:2; margin:49px 0 0 0px; text-align:center;}
.title-box h1{font-size:60px; color:#fff; text-transform:uppercase;}
.changes{background-color:#f4f4f4; width:auto;}
.changesbox{width:50%; z-index:2; margin:0px auto; text-align:center; background-color:#fff; border:solid 1px #d2d2d2; padding:60px 40px; border-radius:10px;}




.changesbox .title{color:#ff4f60; font-size:25px; text-align:left; padding:0px 0px 20px;}
.changesbox ul{width:auto; padding:0px 15px 20px; display:block; margin:0px 0px 0px 0px;}
.changesbox ul li{display:block; margin:0px 0px 20px 0px;}
.changesbox ul li label{display:block; color:#000; font-weight:normal; text-align:left; margin:0px 0px 5px; font-size:15px; font-weight:600;}
.changesbox ul li label span{color:#ff0000;}
.changesbox ul li .text{width:100%; background:#fff; border-radius:4px; padding:10px 15px; border:1px solid #d2d2d2; font-size:15px; color:#9d9d9d;}
.changesbox .submit{border-radius:4px; padding:10px 15px; font-size:20px; width:200px; background:#ff4f60; color:#fff; text-align:center; border:0px; cursor:pointer; margin:0px auto; text-align:center;}
/* changes close */



.footer{background:#242424;}
.footer .f-title{width:auto; color:#ff5a60; font-size:20px; margin:0 0 10px 0px;}
.footer .link{width:auto; margin:0 0 20px 0px;}
.footer .link ul{width:auto;}
.footer .link ul li{text-align:center; text-align:left;}
.footer .link ul li a{color:#a7a7a7; display:block; padding:5px 0px; font-weight:300;}
.footer .link1{width:auto;}
.footer .link1 ul{width:auto;}
.footer .link1 ul li{display:inline-block;}
.footer .link1 ul li .f-img{max-width:150px; min-height:50px;}
.footer .link1 ul li img{margin:0 10px 0 0px;}
.footer .callus p{font-size:30px; color:#fff; padding:5px 0px;}
.footer1{width:auto; background:#f1f1f2; padding:15px 0px;}
.footer1 p{text-align:center; font-size:14px; color:#a7a7a7;}


/*==================== popup css Start ==================*/
.overlay-bg{background:#000; width:100%; height:100%; position:fixed; z-index:10; opacity: 0.6;}
.popup-box{width:400px; margin:0 auto;  background:#fff; position:absolute; left:0px; right:0px; z-index:15; top:100px; padding:20px; border-radius:6px; }
.popup-box .cut {
    color: #fff;
    font-size: 16px;
    position: absolute;
    cursor: pointer;
    padding: 2px 7px;
    right: 10px;
    top: 10px;
    background: #72727d;
    border-radius: 6px;
}

.popup-box h3{display:block; font-size:25px; color:#000; margin:20px 0px 10px; text-align:center;}

.forminput{margin:0px; padding:20px; width:100%;}
.forminput ul{width:auto;}
.forminput ul li{margin:0px 0px 10px; padding:0px; display:block; font-size:16px; color:#72727d; font-weight:normal; position:relative;}
.forminput ul li .text{border:1px solid #dfe0e3; margin:0px; padding:0px 10px; width: 100%; display:block; height:40px;box-sizing:border-box; border-radius:4px; font-size:16px; color:#72727d; font-weight:normal; }
.forminput ul li .text:placeholder{font-size:16px; color:#72727d; font-weight:normal;}
.forminput ul li .gender{border:1px solid #dfe0e3;padding:8px 10px;font-size:16px;border-radius:4px;}
.forminput ul li .text.small{ width:25%; display:inline-block; vertical-align:top;}
.forminput ul li .text.small1{ width:72%; margin:0 0 0 5px; display:inline-block;vertical-align:top;}
.forminput ul li label{color:#72727d; display:block; font-weight:normal; font-size:16px;}
.forminput ul li label span{color:#d90429; font-size:10px;}
.forminput ul li strong{ display:none;}
.forminput ul li #gender-error{ position:absolute; left:0px; bottom:-18px;}

.forminput ul li p{display:block; margin:0px; padding:10px 0px; font-size:18px; color:#000;}
.forminput ul li p .textCheck{border:solid 1px #ff6b5c;}
.forminput ul li p a{text-align:right; display:inline-block; margin-left:10px; float:right; color:#20aad7;}

.forminput ul li a{text-align:center; display:block; color:#72727d; text-decoration:none;}
.pop-btn{background:#ff4f60; display:block; width:100%; margin:0px; padding:10px 0px; text-align:center; font-size:20px; text-transform:uppercase; border-radius:4px; color:#fff; cursor:pointer; border:0px;}
.pop-btn:hover{background:#242424;}
.pop-btn1:hover{background:#ff4f60;}
.pop-btn1{background:#242424; display:inline-block; width:80%; margin:20px auto; padding:10px 0px; text-align:center; font-size:25px; text-transform:uppercase; border:0px; border-radius:5px; color:#fff; font-weight:300;}

/*==================== popup css Close ==================*/

.inner-row{ margin:-160px 0 0 0px;}

/* profile start*/
.profile-row{ width:auto; padding:0px 0px 70px; font-size:14px;}
.profile-row .profile-img{ width:auto;}
.profile-row .profile-img img{ width:100px; height:100px; border-radius:50%; border:5px #fff solid;}
.profile-row .profile-detail{ width:auto; color:#fff;  padding:0 0 0 20px;}
.profile-row .profile-detail h1{ font-size:20px; font-weight:bold;}
.profile-row .profile-detail h2{ font-size:16px; padding:8px 0px;}
.profile-row .profile-detail ul{ width:auto; background:rgba(255,255,255,0.1); display:inline-block; padding:5px;}
.profile-row .profile-detail ul li{ display:inline-block; color:#fff; padding:0px 5px; border-right:1px #fff solid;}
.profile-row .profile-detail ul li:last-child{border-right:0px;}
.profile-row .count-box{ width:auto; color:#fff; text-align:right;}
.profile-row .count-box .box{ display:inline-block; border:1px rgba(255,255,255,0.3) solid; border-right:0px; text-align:center; padding:28px 20px 10px; margin:0 -2px; position:relative;}
.profile-row .count-box .box:last-child{border-right:1px rgba(255,255,255,0.3) solid;}
.profile-row .count-box .box p{ display:block;}
.profile-row .count-box .box p strong{ display:block; font-size:20px; font-size:35px; padding:5px 0px;}
.profile-row .count-box .box .count{ background:#ff4f60; border-radius:50%; color:#fff; position:absolute; width:35px; padding:6px 0px; margin:0 auto; left:0px; right:0px; top:-15px; font-weight:bold; font-size:16px;}
.profile-row .count-box .box:hover{ background:rgba(255,255,255,0.1);}
.profile-row .count-box .box.active{background:rgba(255,255,255,0.1);}


.user-profile{ width:auto; padding:20px;background:#fff; margin:20px 0px;}
.profile-tab{ width:auto; border-bottom:1px #d2cddb solid;}
.profile-tab ul{ width:auto; margin:0 0 -3px 0px;} 
.profile-tab ul li{ display:inline-block; padding:0px 0px 10px; width:24%; text-align:center; cursor:pointer;}
.profile-tab ul li:hover{ border-bottom:3px #ff4f60 solid;}
.profile-tab ul li.active{ border-bottom:3px #ff4f60 solid;}
.profile-tab ul li p{ text-align:center; font-weight:bold; font-size:18px;}
.profile-post{ width:auto; padding:8px 20px;}
.profile-post .post{width:auto; border:1px #eee solid; background:#fff; margin:15px 0px;}
.profile-post .post .img{ width:auto; overflow:hidden;}
.profile-post .post .img img{ max-width:260px; max-height:250px;}
.profile-post .post .text{ margin:0px; padding:10px; }
.profile-post .post .text p{font-size:16px;}
.profile-title{ padding:0px 20px; font-weight:bold; color:#3f2464; font-size:20px;}
.profile-title strong{ color:#fd5566; font-weight:bold; padding:0 10px;}

.online-chat { width:220px; position:fixed; right:0px; bottom:0px; z-index:10; background:#fff; box-shadow:0px 0px 10px #777;}
.online-chat .title{ background:#ff4f60; font-size:16px; color:#fff; padding:10px 20px; text-align:left; position:relative; cursor:pointer;}
.online-chat .title .chat-icon { position:absolute; right:5px; top:14px; }

.online-chat .chat-list-box{ width:auto; padding:10px 10px; cursor:pointer;}
.online-chat .chat-list-box .chat-list{ width:auto; padding:5px 0px; border-bottom:2px #eee solid;}
.online-chat .chat-list-box .chat-list .img { display:inline-block; width:30px; height:30px; vertical-align:middle;}
.online-chat .chat-list-box .chat-list .img img{ width:100%; height:100%; border-radius:20px;}
.online-chat .chat-list-box .chat-list .name {display:inline-block; width:150px; vertical-align:middle; font-weight:bold;}
.online-chat .chat-list-box .chat-list .icon{display:inline-block; width:8px; height:8px; border-radius:50%; vertical-align:middle; background:#c9cac9;}
.online-chat .chat-list-box .chat-list .icon.active{ background:#61cd6b;}
.online-chat .chat-list-box .chat-list:hover{ background:#eee;}

.profile-row .progress-bar{ width:auto; background:none; text-align:right; display:block; float:none;}
.profile-row .progress-bar .count{ width:auto; font-size:20px;}
.profile-row .progress-bar .count strong{ font-size:30px; }
.profile-row .progress-bar .bar{ width:auto; border-radius:10px; background:rgba(255,255,255,0.2); height:10px; margin:20px 0 0 0px; overflow:hidden;}
.profile-row .progress-bar .bar ul{ background:#ff4f60; border-radius:10px; height:100%; -webkit-transition:all 0.5s; -moz-transition:all 0.5s;}

/* profile close*/


/* list-detail start*/
.partner-row{ width:auto; padding:40px 0px; margin:0px 0 0 0px; font-size:16px;}
.partner-row .img{ width:auto; height:250px; overflow:hidden;}
.partner-row .img img{ width:100%;}
.partner-row .detail{ width:auto; background:#fff; padding:20px; height:100%;}
.partner-row .detail h1{ font-size:20px; overflow:hidden; border-bottom:1px #eee solid; padding:0 0 10px 0px;}
.partner-row .detail h1 strong{ font-size:14px; color:#777;}
.partner-row .detail h1 span{ float:right; font-size:14px;}
.partner-row .detail ul{ width:auto; padding:12px;}
.partner-row .detail ul li{ width:auto; display:inline-block; width:49%; padding:5px 0px;}
.partner-row .detail ul.more{ width:auto; padding:0px 12px;}
.partner-row .detail ul.more li{ display:inline-block; width:auto;}
.partner-row .detail ul.more li a{ color:#ff4f60;}
.partner-row .contact{ width:auto; background:#3f2463; height:100%;}
.partner-row .contact ul{ width:auto; padding:0px 0px; overflow:hidden;}
.partner-row .contact ul li{ width:auto;}
.partner-row .contact ul li a{ color:#fff; display:block; padding:17px 30px; font-size:20px;}
.partner-row .contact ul li a i{ margin:0 20px 0 0px;}
.partner-row .contact ul li a:hover{background:#ff4f60;}


.partner-detail-box{ width:auto; background:#fff; height:100%;}
.partner-detail-box .tab{ width:auto; position:relative; background:#fff; height:80px;}
.partner-detail-box .tab.active ul{ position:fixed; width:100%; top:0px; width:1140px; z-index:5; height:80px; background:#FFFFFF;}
.partner-detail-box .tab ul{ width:auto; margin:0 0 -3px 0px; border-bottom:1px #d2cddb solid;}  
.partner-detail-box .tab li{ display:inline-block; padding:15px 0px; width:19%; text-align:center; cursor:pointer;}
.partner-detail-box .tab ul li:hover{ border-bottom:3px #ff4f60 solid;}
.partner-detail-box .tab ul li.active{ border-bottom:3px #ff4f60 solid;}
.partner-detail-box .tab ul li p{ text-align:center; font-weight:bold; font-size:18px; margin:0px 0 5px 0}
.partner-detail-box .detail{ width:auto;}
.partner-detail-box .detail .box{ width:auto; border-bottom:1px #eee solid; padding:0px 40px 40px; overflow:hidden;}
.partner-detail-box .detail .box .view{ width:auto; margin:20px 0px 0px;}
.partner-detail-box .detail .box .view-title{ width:auto; color:#ff4f60; font-size:25px; margin:25px 0px 0px;}
.partner-detail-box .detail .box .view-title .editbtn{ float:right; font-size:16px; margin:5px 0 0 0px; padding:5px 0px; cursor:pointer; -webkit-transition:all 0.5s; -moz-transition:all 0.5s; display:block;}
.partner-detail-box .detail .box .view-title .editbtn:hover{ background:#ff4f60; color:#fff; border-radius:6px; padding:5px 10px;}
.partner-detail-box .detail .box .view .content{ margin:30px 0px;}


.profile-circle{ background:#3f2463; overflow:hidden;}
.profile-circle .round{ width:170px; height:170px; border-radius:50%; border:10px #fff solid; margin:40px auto;}
/* list-detail close*/


/* desired  */



.desired{ width:auto; padding:15px; margin:10px 0px; background:#fff; margin:20px 0px;}
.desired .title{ width:auto; text-align:left; font-size:18px; color:#ff4f60; font-weight:bold; padding:10px;}
.desired .title p{ color:#777; font-weight:normal;}
.desired .title strong{ color:#424242; font-weight:normal;}
.desired .title strong span{ background:#fff; width:16px; height:16px; display:inline-block; border:1px #000 solid; margin:3px 2px 0 0px; vertical-align:top; position:relative; cursor:pointer;}
.desired .title strong span::before{content: "\f00c"; font-family: FontAwesome; font-size:14px; position:absolute; left:1px; top:-2px; display:none;}
.desired .title strong span.active::before{content: "\f00c"; display:block;}
.desired .title1{ background:#f6f5f5; padding:15px; margin:15px 0px;}

.desired .box-wrap{ width:auto; border-top:1px #eee solid; margin:20px 0 0 0px; padding:20px 5px; overflow:hidden; font-size:16px; }
.desired .box-wrap:last-child{  }
.desired .box-wrap .title2{ color:#ff4f60; padding:0px 10px 0px; font-size:25px;}
.desired .box-wrap .title2 .edit{ float:right; font-size:14px; color:#000; margin:10px 10px 0 10px; cursor:pointer;}
.desired .box-wrap .box{ margin:10px 0 0 0px;}
.desired .box-wrap .btn{ display:inline-block; border:1px #d2d2d2 solid; padding:6px 20px; margin:0px 0px 0px 5px; font-size:14px;}
.desired .box-wrap .btn.active{ background:#ff4f60; color:#fff;}

.desired .instruction{ width:auto; padding:0px 0px 0px 20px; border-left:1px #eee solid; height:100%; margin:-53px 0px 0px 0px;}
.desired .instruction h1{ width:auto; font-size:20px; font-weight:bold;}
.desired .instruction h2{ width:auto; font-size:18px; margin:30px 0 5px 0px; color:#ff4f60; font-weight:bold;}
.desired .instruction p{ width:auto; line-height:18pt; font-size:14px;}
.desired .mainbtn{ background:#ff4f60; color:#fff; display:inline-block; padding:10px 20px; font-size:20px; margin:0px 10px; }
/* desired close*/


/* close desired*/


/* inbox start*/

.inbox{ width:auto; background:#fff; margin:30px 0px; overflow:hidden;}

.inbox .leftbar{ width:auto; background:#ff4f60; padding:0px; margin:0 0 0 -15px; height:100%;}
.inbox .leftbar ul{ width:auto;}
.inbox .leftbar ul li{ width:auto;}
.inbox .leftbar ul li a{ color:#fff; padding:15px; display:block;}
.inbox .leftbar ul li a:hover{  background:#dc3444; color:#fff;}
.inbox .leftbar ul li a.active{ background:#fff; color:#000; text-decoration:none;}

.inbox .rightbar{ width:auto; padding:0px;}
.inbox .rightbar .tab{ width:auto; position:relative; background:#fff;}
.inbox .rightbar .tab ul{ width:auto; border-bottom:1px #d2cddb solid;}  
.inbox .rightbar .tab ul li{ display:inline-block; padding:15px 20px; text-align:center; cursor:pointer;}
.inbox .rightbar .tab ul li strong{ padding:0px 5px; display:inline-block; font-size:16px;}
.inbox .rightbar .tab ul li:hover{ border-bottom:3px #ff4f60 solid;}
.inbox .rightbar .tab ul li.active{ border-bottom:3px #ff4f60 solid;}
.inbox .list{ margin:20px 0px; border-bottom:1px #eee solid; padding:10px 0px; position:relative; cursor:pointer;}
.inbox .list:last-child{ border:0px;}
.inbox .list .img{ width:100%; height:100%;}
.inbox .list .img img{ width:100%; height:100%;}
.inbox .list .detail{ width:auto; padding:15px 0px;}
.inbox .list .detail strong{ font-size:18px;}
.inbox .list .detail span{ font-size:12px; margin:0 0 0 10px; color:#777;}

.inbox .list .action-button{ width:auto; position:absolute; right:0px; top:20px; width:150px; z-index:10; display:none;}
.inbox .list:hover .action-button{ display:block;}
.inbox .list .action-button a{ width:auto; display:block; background:#ff4f60; color:#fff; text-align:center; padding:10px 0px;}
.inbox .list .action-button a.black{ background:#51346a;}

.inbox .rightbar .panel{ display:none;}
.inbox .rightbar .panel.active{ display:block;}
.inbox .rightbar .subpanel{ display:none;}
.inbox .rightbar .subpanel.active{display:block;}

/* inbox close*/

/* matches start*/
.matched .tab{ width:auto; background:#fff; position:relative;  }
.matched .tab .inner{ width:auto; overflow:hidden; margin:0 40px;}
.matched .tab ul{ font-size:0px;}
.matched .tab ul li{ display:inline-block; padding:15px 20px; color:#000; border-right:1px #eee solid; font-size:16px; box-sizing:border-box; cursor:pointer;}
.matched .tab ul li:hover{ background:#ff4f60; color:#fff; }
.matched .tab ul li.active{ background:#ff4f60; color:#fff; }
.matched .tab .arrow{ position:absolute; left:0px; top:0px; background:#ececec; height:100%; width:50px; color:#000; text-align:center; padding:15px 0px; font-size:22px; display:none;cursor:pointer;}
.matched .tab .arrow.right{ right:0px; left:auto; }
/* matches close*/

/* setting start*/
.setting{ width:auto;}
.setting .hide-profile{ display:none;}
.setting .content{ width:auto; margin:30px 0 0 0px;}
.setting .title{ width:auto; text-align:left; font-size:18px; color:#ff4f60; font-weight:bold; background:#f6f5f5; padding:10px;}
.setting .title p{ color:#777; font-weight:normal;}
.setting .box{ width:auto; border-bottom:1px #eee solid; padding:20px 5px; overflow:hidden; font-size:16px; }
.setting .box:last-child{border-bottom:0px;}
.setting .box p{ width:auto;}
.setting .box p strong{}
.setting .box ul{ width:auto; text-align:right;}
.setting .box ul li{ display:inline-block; border:1px #d2d2d2 solid; padding:6px 20px; margin:0px 0px 0px 5px; font-size:14px;}
.setting .box ul .check{ background:#eee; border-radius:20px; display:inline-block; width:90px; height:40px; padding:4px; text-align:left; cursor:pointer;}
.setting .box ul .check .round{ width:35px; height:100%; background:#fff; border-radius:50%; text-align:center; padding:4px 0px; position:relative; -webkit-transition:all 0.5s;}
.setting .box ul .check .round::before{ content: "\f00d";  font-family: FontAwesome;  text-align:center; font-weight:normal;}
.setting .box ul .check.active .round{ background:#ff4f60; color:#fff; margin:0 0 0 47px;}
.setting .box ul .check.active .round::before{content: "\f00c";}
.setting .form{ width:auto; padding:40px; border:1px #eee solid; margin:40px 0px; min-height:485px; box-shadow:0px 0px 10px #eee;}
.setting .form.one{ box-shadow:0px 0px 10px #eee; min-height:inherit;}
.setting .form .box1{ width:auto; margin:15px 0px;}
.setting .form .box1 p a{ font-size:16px; color:#ff4f60;}
.setting .form .box1 .field{ width:100%; padding:10px; border:1px solid #d2d2d2; font-size:16px;}
.setting .form .box1 .mainbtn{ background:#ff4f60; color:#fff; display:inline-block; padding:10px 20px; }

/* setting close*/